* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #eee;
}

#main {
  align-items: center;
  text-align: center;
}

#title {
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: underline;
  background-color: #eee;
}

#img-div {
  background-color: #eee;
}

#img-div img {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #aaa;
}

#img-div p {
  font-size: small;
}

#tribute-info {
  background-color: #eee;
  padding-top: 10px;
  margin-top: 15px;
}

#tribute-info h3 {
  font-size: 1.5rem;
  text-decoration: underline;
}

#tribute-info ul {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
}

#tribute-info p {
  font-size: 1.5rem;
}

#tribute-link {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
